body{
  background-color: black;
}

#propic{
  width: 50%;
  height: 50%;
  border-radius: 15px;
  margin: 0 auto;
}


.glyph-title{
  color: #e4e4e4;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
.glyph-title .active{
  color: blue;
}

#titleContent{text-align: center;}
#splash{
  color: #e4e4e4;
  margin-top: 40%;
  margin-bottom: 5%;
}

.glyph-title.glyphicon-user:hover:before{content:"About Me";}
.glyph-title.glyphicon-list-alt:hover:before{content:"Resume";}
.glyph-title.glyphicon-comment:hover:before{content:"Contact";}

#bodyContent{
  color: white;
}

#menuBar{
  padding-top: 3%;
  padding-bottom: 3%;
}
